.footer {
    background: #FFFCED;
}

.footer-title {
    padding-top: 137px;
    margin-bottom: 55px;
    @include tablet {
        text-align: center;
        padding-top: 106px;
        margin-bottom: 59px;
    }
}
.footer-wrapper {
    position: relative;
    z-index: 1;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .icon-daub {
        position: absolute;
        color: $yellow;
        font-size: 225px;
        top: 6.4%;
        left: -3.8%;
        z-index: -1;
        @include tablet {
            display: none;
        }
    }
    .icon-childrens {
        position: absolute;
        color: $yellow;
        font-size: 148px;
        top: 6%;
        left: 46%;
        @include tablet {
            display: none;
        }
    }
    .icon-scattered {
        position: absolute;
        color: $yellow;
        font-size: 159px;
        top: -7%;
        right: 2%;
        @include tablet {
            display: none;
        }
    }
    .icon-little-star {
        position: absolute;
        color: $yellow;
        font-size: 40px;
        top: 7%;
        left: 27%;
        @include tablet {
            display: none;
        }
    }
    .icon-little-star_1 {
        position: absolute;
        color: $yellow;
        font-size: 40px;
        top: 14%;
        left: 77%;
        @include tablet {
            display: none;
        }
    }
}
.footer-map {
    position: relative;
    margin-bottom: 15px;
    @include tablet {
        width: 100%;
        margin-bottom: 30px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 94%;
        border-radius: 70px;
        border: 4px solid $yellow;
        transform: rotate(3.2deg);
        z-index: 2;
        pointer-events: none;
        @include tablet {
            display: none;
        }
    }
}

.footer-map-wraper {
    z-index: 1;
    border-radius: 70px;
    @include tablet {
        height: 100%;
        border-radius: 20px;
    }
}
.footer-contacts__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
    @include tablet {
        padding: 0 10px;
        flex-direction: column;
    }
}
.footer-contacts {
    width: 30.8%;
    line-height: 150%;
    @include tablet {
        width: 100%;
        &:last-of-type {
            margin-bottom: 79px;
        }
    }
    .footer-contacts__title {
        font-size: 28px;
        margin-bottom: 16px;
        @include tablet {
            font-size: 20px;
            margin-bottom: 6px;
        }
    }

    .footer-contacts__text {
        @include tablet {
            padding: 0 3%;
            font-size: 15px;
        }
     }
}
.footer-contacts__item1 {
    min-width: 30.8%;
    margin-right: 143px;
    @include tablet {
        padding-bottom: 26px;
    }
}
.footer-contacts__item2 {
    min-width: 25.8%;
    margin-right: 49px;
    @include tablet {
        padding-bottom: 37px;
    }
}
.footer-contacts__item3 {
    margin-left: 50px;
    @include tablet {
        margin-left: 0;
    }
    .footer-contacts__title-mail {
        @include tablet {
            margin-bottom: 19px;
        }
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 21px 0 25px;
    position: relative;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        opacity: 0.05;

        position: absolute;
        top: 0;
        left: 0;
    }
    span {
        font-size: 12px;
    }
    .footer-bottom__left {
        opacity: .5;
        @include tablet {
            display: none;
        }
    }
    .footer-bottom__right {
        opacity: .5;    
        display: flex;
        justify-content: flex-end;
    }
}

.footer-contacts__social-links {
    display: flex;
    align-items: center;
    justify-content: start;
    @include tablet {
        justify-content: center;
    }
    .vk-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #7294C7;
        border-radius: 100%;
        font-size: 0;
        z-index: 2;
        @include tablet {
            margin-right: 20px;
        }
        &:hover {
            text-decoration: none;
        }
        .icon-vk {
            font-size: 31px;
            color: white;
        }
    }
    .instagram-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
        border-radius: 100%;
        font-size: 0;
        margin-left: -2%;
        z-index: 1;
        @include tablet {
            margin-left: 0;
            z-index: 1;
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
        .icon-instagram {
            font-size: 25px;
            color: white;
        }
    }
}