.header__modal {

    .modal-content {
        border-radius: 70px;
        display: flex;
        align-items: center;
        padding: 51px 100px 70px 100px;
        border: none;
        min-width: 560px;
    }
    .modal-header {
        padding: 0 0 12px 0;
        border: none;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        p {
            padding-bottom: 29px;
        }
    }
    .modal-body__input-name, .modal-body__input-phone {
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 30px;
        border-radius: 20px;
        border: $dark-gray 1px solid;
        opacity: 0.4;
        &:focus {
            outline: none;
        }
    }
    .modal-body__input-name {
        margin-bottom: 10px;
    }
    .modal-body__input-phone {
        margin-bottom: 20px;
    }
    .modal-footer {
        padding: 0px;
        border: none;
    }
    .header__modal-button {
        padding: 36px 81px;
        span {
            color: white;
        }
    }
}

// .header__modal_2 {

// }


.about-teacher__modal {
    .modal-dialog {
        @include tablet {
            margin: 0;
        }
    }
    .modal-content {
        border-radius: 70px;
        min-width: 760px;
        left: -25%;
        @include tablet {
            border-radius: 0%;
            min-width: 300px;
            left: 0;
        }
    }
    .modal-header {
        padding: 0px;
        border: none;
        @include tablet {
            max-height: 0;
        }
    }
    .modal-body {
        padding: 41px 60px 67px;
        @include tablet {
            padding: 83px 10px;
        }
    }
    .about-teacher__modal-button {
        font-weight: 600;
        text-shadow: none;
        opacity: .8;
        color: white;
        padding: 0px;
        @include tablet {
            margin: 0rem 1rem -1rem auto
        }
        span {
            font-size: 52.5px;
            color: white;
            font-weight: 700;
            padding: 0px;
            @include tablet {
                font-weight: normal;
                color: black;
            }
        }
    }
}