.nav-links{
	@include tablet {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		padding-top: 80px;
		background-color: #36347f9c;
		height: 100vh;
		backdrop-filter: blur(20px);
		overflow-y: auto;
	}
}

.nav-links__list {	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	@include tablet {
		display: flex;
		flex-direction: column;
		text-align: center;	
		z-index: 10;
	}
}

.nav-links__item {
	margin-left: 30px;
	@include tablet-land {
		margin-left: 20px;
	}
	@include tablet {
		padding: 10px 0;
		margin: 0;
		background: white;
		&:last-of-type {
			padding-bottom: 50px;
		}
		&:hover {
			.sub-menu {
				display: none;
			}
		}
		&.active {
			&~ .header__nav-links {
				z-index: 1;
			}
		}
	}
	&:first-of-type {
		margin-left: 35px;
		@include tablet {
			margin-left: 0px;
		}
	}
	a {
		&:hover {
			color: $green;
			@include tablet {
				color: unset;
				text-decoration: none;
			}
		}
	}
	&:hover {
		.sub-menu {
			display: block;
		}
	}
}

.sub-menu {
	display: none;
	padding: 24px 34px;
    position: absolute;
    left: -26px;
    top: 100%;
    z-index: 1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
	background: white;
	li {
		display: block;
		a {
			display: block;
			padding: 5px;
			background: white;
			@include tablet {
				color: $dark-gray;
				opacity: .5;
			}
		}
	}
	@include tablet {
		position: static;
		width: 100%;
		left: 0;
		padding-top: 10px;
		li {
			padding: 10px 0;
			a {
				padding: 0;
			}
		}
	}
}


