.swiper-container {
  width: 100%;
  @include tablet{
    width: 100%;
  }
}
.swiper-slide {
  @include tablet{
    width: 100%;
  }
}
.swiper-pagination {
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

}
.swiper-pagination-bullet{
  background: $gray;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 30px !important;
  @include tablet {
    background: $dark-gray;
    opacity: 1;
    width: 6px;
    height: 6px;
    margin: 0 19px !important;
  }
}
.swiper-pagination-bullet-active {
    background: $green;
    @include tablet {
      background: $green;
    }
}


// NAVIGATION 
.swiper-buttons-mobile {
  display: none;
  @include tablet {
    display: block;
    position: relative;
    padding-bottom: 31px;
    
    .swiper-button-next, .swiper-button-prev {
      position: absolute;
      top: -11%;
      width: calc(var(--swiper-navigation-size)/ 7 * 37);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $green;
    }
    .swiper-buttons-mobile__text {
      padding-top: 30px;
    }
  }
}
.section__swiper-row {
  position: relative;
}

.icon-slider-daub-1 {
  position: absolute;
  top: 22%;
  left: -11%;
  z-index: 10;
  font-size: 222px;
  color: $yellow;
  @include tablet {
      font-size: 57px;
      left: -7%;
  }
}
.icon-slider-daub-2  {
  position: absolute;
  top: 6%;
  right: -10%;
  color: $yellow;
  font-size: 155px;
  @include tablet {
      font-size: 40px;
  }
}
.icon-triple-xxx {
  position: absolute;
  bottom: -12%;
  right: 7%;
  z-index: 10;
  font-size: 223px;
  color: $yellow;
  @include tablet {
      display: none;
  }
}