@import 'components/accordeon';
@import 'components/social-list';
@import 'components/nav';
@import 'components/slider';
@import 'components/tabs';
@import 'components/modals';
@import 'components/footer';
@import 'components/timetable';
@import 'components/show-hide-text';
@import 'components/comments-share';
