button {
    outline: none !important; 
}
%button-preset {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 100px;
    border: none;
    font-family: 'Neucha', cursive;

    &.button-play {
        i {
            display: inline-flex;
            
            width: 54px;
            height: 54px;
        }
    }
}

.button-fill {
    @extend %button-preset;
    background-color: $gray;
    font-family: $neucha;
    font-size: 14px;
    line-height: 150%;
    color: $dark-blue;
    padding: 2px 12px;
    min-height: 100px;
    border: none;
    &.button-fill--green {
        background-color: $green;
        border: none;
        font-size: 18px;
    }
    &.button-fill--sm {
        min-height: 40px;
    }
    &.button-fill--red {
        background: $red;
    }
}

.button-bordered {
    @extend %button-preset;
    background: transparent;
    border: 2px $green solid;
}
// Red circle button
.red-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    background: $red;
    text-decoration: none !important;
    text-align: center;
    transition: .2s linear;
    z-index: 3;
    @include tablet {
        bottom: 10px;
        left: 10px;
    }
}
// HEADER
.header-button {
    width: 120px;
    height: 40px;
    padding: 10px 30px;
    background: $gray;
    color: #36347F;
    font-size: 14px;
    &:hover {
        color: white;
        background: $green;
    }
    @include tablet {
        background: $green;
        color: #ffffff;
    }
}


// SECTION 1
.button_section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 29px 23px 46px;
    background: $green;
    width: 240px;
    height: 100px;
    &:hover .icon-triangle-play::before{
		background-color: $green;
	}
    span {
        font-size: 18px;
        color: white;
    }
    @include tablet { 
        width: 240px;
        height: 100px;
        padding: 23px 29px 23px 49px;;
        margin: 0 auto;
    }
}

// SECTION 2
.section2__swipe-buttons {
    display: none;
    @include tablet {
        display: block;
        margin-bottom: -9px;
        .section2-tabs__mobile-trigger {
            background: transparent;
            border: none;
            padding: 0;
            margin-bottom: 21px;
            i {
                font-size: 54px;
                color: $green;
            }
        }
        .section2-tabs__mobile-trigger-prev {
            margin-right: 40px;
        }
    }
}

// SECTION 3
.block-info__button{
    padding: 35px 66px;
    color: white;
    @include tablet {
        margin-bottom: 20px;
    }
}
.block-info__button_about{
    padding: 35px 66px;
    color: $green;
    &:hover {
        color: white;
        background: $green;
    }
}

