*{
    box-sizing: border-box;
    color: #313131;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    &.modal-open {
        ._mobile-nav-open {
            .header__nav-links {
                @include tablet {
                    display: none;
                }
            }
        }
    }
}
a{
    text-decoration: none;
    &.tel:hover {
        text-decoration: none;
        color: $green;
    }
}
.title{
    font-size: 54px;
    font-weight: 400;
    font-family: 'Neucha', cursive;
}
.suptitle{
    font-size: 16px;
}
.c-container, .container{
    margin: 0 auto;
    width: 1196px;
    max-width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    @include tablet-land {
        width: 1024px;
        padding: 0 3% !important;
    }
    @include tablet {
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }
}
svg {
    width: 100%;
    height: 100%;
}

.hiden-items {
    &.hide {
        display: none;
    }
}
.fancybox-button svg path {
    fill: #fff;
}