h1, h2, h3, h4 {
    font-family: 'Neucha', cursive;
}

h1 {
    font-size: 64.5px;
    @include tablet {
        text-align: center;
    }
    @include mobile-land {
        font-size: 30px;  
    }
}

h2 {
    font-size: 54px;
    @include tablet {
        font-size: 42px;
        line-height: 47px;
    }
    @include mobile-land {
        text-align: center;
        font-size: 30px;
        line-height: 33px;
    }
}

h3 {
    font-size: 28px;
}

.icon-triangle-down {
    font-size: 10px;
}
.icon-triangle-play {
    font-size: 15px;
    color: white;
}

span {
    @include mobile-land {
        font-size: 15px;
    }
}

a {
    color: $textcolor;
    &.link-green {
        color: $green;
    }
}

.page-text-content {
    p {
        font-size: 16px;
        line-height: 150%;
        @include tablet {
            font-size: 15px;
        }

        + p {
            margin-top: 20px;
        }
    }
}