.header {
    padding-top: 13px;
    padding-bottom: 120px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    @include tablet {
        padding: 0;
        .container {
            padding: 0;
        }
    }
}
.header__row{
    @include tablet {
        height: 80px;
        background-color: #36347F;
        padding: 0 10px;
        z-index: 12;
    }
}
/* logo image */
.header-logo__img {
    @include tablet {
        width: 101px;
        max-height: 40px;
    }
} 

 .header-logo__circleImg {
    position: absolute;
    z-index: -1;
    left: -3%;
    bottom: -95%;
    object-fit: fill;
    @include tablet-land {
        width: 18%;
    }
    @include tablet {
        display: none;
    }
 }
 
.header-contacts {
    display: flex;
    justify-content: space-between;
    &__phone {
        display: block;
        font-weight: 700;
        color: black;
    }
    @include tablet {
        display: none;
        flex-direction: column;
        &__address {
            color: #000;
        }
    }
}

.header-actions {
    padding-left: 20px;
    @include tablet {
        padding: 0;
    }
    .btn-primary.focus, .btn-primary:focus {
        background-color: $green;
        box-shadow: none;
        border-color: none;
    }
    .btn-primary {
        border: none;
        box-shadow: none;
    }
}

.header__nav-toggle {
    display: none;
    width: 35px;
    height: 2px;
    background: white;
    position: relative;
    padding: 0px;
    border: none; 
    &::before {
        content: '';
        display: block;
        width: 35px;
        height: 2px;
        background: white;
        position: absolute;
        bottom: 8px;
        right: 0px;
    }
    &::after {
        content: '';
        display: block;
        width: 35px;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -8px;
        right: 0px;
    }
    @include tablet {
        display: block;
    }
}

.header__navigation {
        
    &._mobile-nav-open {
        .header__nav-links {
            @include tablet {
                display: block;
                z-index: -1;
            }
        }
    }
    .header__nav-links {
        @include tablet {
            display: none;
        }
    }
}
.header-contacts__tablet {
    display: none;
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        &-phone {
            display: block;
            padding-bottom: 20px;
            font-weight: 700;
            color: black;
            order: 1;
        }
        &-address {
            order: 3;
            padding-bottom: 50px;
        }
        .header-actions {
            padding-bottom: 31px;
            order: 2;
        }
    }
}