.section2 {
    @include tablet {
        .container {
            overflow: hidden;
        }
    }
}
.section2-row {
    padding-bottom: 137px;
    h2 {
        padding-bottom: 56px;
    }
    @include tablet {
        text-align: center;
        align-items: center;
        h2 {
            padding-bottom: 61px;
        }
    }
}
.section2__swiper {
    position: relative;
    .section2__felt-tip1 {
        position: absolute;
        top: 22%;
        left: -5%;
        z-index: 10;
        @include tablet {
            width: 8%;
        }
    }
    .section2__felt-tip2 {
        position: absolute;
        bottom: 0;
        right: 6%;
        z-index: 10;
        @include tablet {
            display: none;
        }
    }
    .section2__felt-tip3 {
        position: absolute;
        top: 6%;
        right: -12%;
        @include tablet {
            width: 16%;
        }
    }
}

.nav-pills {
    @include tablet {
        display: none;
    }
}
.section2-searching-glass {
    display: none;
    @include tablet {
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 2;
    }

}
.swipe-button-prev, .swipe-button-next {
    padding: 20px;
}