.section15 {
    margin-bottom: 136px;
}
.section15-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    border-radius: 70px;
    background-color: $pink;
    margin-bottom: 30px;
    padding: 39px 30px 39px 53px;
}