.section2 {
    @include tablet {
        .c-container {
            overflow: hidden;
        }
    }
}

.section2-tabs {
    .nav-pills {
        margin-bottom: 46px;
        @include tablet {
            display: block;
            margin-bottom: 28px;
        }
    }

    .nav-item {
        @include tablet {
            border: none;
        }
    }

    @include tablet {
        .tabs-nav__trigger {
            display: none;
            background-color: transparent;
            padding: 0;
    
            &.active {
                display: block;
                text-align: center;
                @include tablet {
                    font-family: $neucha;
                    font-size: 20px;
                }
            }
        }
    }
}

.section2-row {
    margin-bottom: 134px;
    @include tablet {
        margin-bottom: 109px;
        text-align: center;
        align-items: center;
    }
    .section2-title {
        margin-bottom: 56px;
        @include tablet {
            margin-bottom: 58px;
        }
    }
}


.section2__img-wrapper {
    position: relative;
    display: block;
    padding-bottom: (570 / 1160) * 100%;

    @include tablet {
        padding-bottom: (190 / 300) * 100%;
        &::before {
            content: $icon-zoom;
            font-family: $icomoon-font-family;
            position: absolute;
            top: 50%;
            font-size: 18px;
            // background: $yellow;
            z-index: 1;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $yellow;
            background-color: #ffd6006b; 
            border-radius: 50%;
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include tablet {
            border-radius: 20px;
        }
    }
}
