.section3 {
    position: relative;
}
.section3__content{
    position: relative;
    @include tablet {
        text-align: center;
        margin-bottom: 131px;
    }
    .icon-sun {
        position: absolute;
        top: -3%;
        left: -38.5%;
        color: $yellow;
        font-size: 239px;
        @include tablet {
            display: none;
        }
    }
    h2 {
        margin-bottom: 111px;
        @include tablet {
            margin-bottom: 61px;
        }
    }
}
.section3-items-row {
    position: relative;
}

.section3-item{
    position: relative;
    justify-content: space-between;
    margin-bottom: 176px;
    padding-bottom: 0px !important;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 41px;
        padding-bottom: 71px !important;
        margin-bottom: 54px;
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}
.section3-item__content{
    padding-left: calc(45% + 9px);
    @include tablet {
        width: 100%;
        padding-left: 0px;
    }
    h5{
        padding-bottom: 27px;
        @include tablet {
            font-size: 15px;
            padding-bottom: 20px;
        }
    }
    h3{
        padding-bottom: 12px;
        @include tablet {
            width: 80%;
            margin: 0 auto;
            font-size: 20px;
            padding-bottom: 23px;
        }
    }
}
// COMMON STYLES OF DESCTOP BACKGROUND
.section3-item_1, .section3-item_2, .section3-item_3 {
    .icon-calendar {
        color: $green;
        margin-right: 5px;
    }
    &::before {
            content: '';
            display: block;
            width: 108%;
            height: 119%;
            background: #FFF8D2;
            opacity: .6;
            border-radius: 70px;
        
            position: absolute;
            z-index: -1;
            top: -9.5%;
            left: -4%;
            @include tablet {
                display: none;
            }
    }
}    
.section3-item__discr {
    margin-bottom: 67px;
    width: 90%;
    @include tablet {
        margin: 0 auto 42px;
        width: 90%;
        line-height: 145%;
    }
}
.section3-item_1 {
    &::before {
        background: #FFF8D2;
        transform: rotate(-1.7deg);
        // top: -9.5%;
    }
    @include tablet {
        background: #FFF8D2;
        border-radius: 20px;
    }
}
.section3-item_2 {
    position: relative;
    @include tablet {
        background: #E7F8EF;
        border-radius: 20px;
    }
    .icon-wawes {
        position: absolute;
        top: 2%;
        right: -16%;
        font-size: 158px;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    &::before {
    background: #E7F8EF;
    transform: rotate(1.23deg);
    top: -9.5%;
    }
    .section3-item__discr {
        @include tablet {
            margin: 0 auto 42px;
            width: 100%;
            line-height: 145%;
        }
    }
}
.section3-item_3 {
    position: relative;
    @include tablet {
        background: #F5F5F9;
        border-radius: 20px;
    }
    .section3-item-params {
        margin-bottom: 70px;
        @include tablet {
            margin-bottom: 47px;
        }
    }
    .section3-item-params-item {
        &:first-of-type {
            margin-bottom: 40px;
            @include tablet {
                margin-bottom: 23px;
            }
        }

    }
    .icon-dashed {
        position: absolute;
        top: -30%;
        left: -20%;
        font-size: 246px;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    &::before {
        top: -9%;
        background: #F5F5F9;
        transform: rotate(-1.19deg);
    }
} 

.section3-item-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;

    @include tablet {
        position: relative;
        width: 87%;
        margin: 0 auto;
        height: auto;
    }

    &.section3-item-image_1{
        transform: rotate(3.09deg);
        @include tablet {
            transform: none;
        }
    }
    &.section3-item-image_2{
        top: -2%;
        transform: rotate(-1.43deg);
        @include tablet {
            top: 0;
            transform: none;
        }
    }
    &.section3-item-image_3{
        transform: rotate(2.23deg);
        @include tablet {
            transform: none;
        }
    }
}
.section3-item-image__wrapper {
    position: relative;
    height: 100%;
    border-radius: 70px;
    overflow: hidden;

    @include tablet {
        padding-bottom: (162 / 260) * 100%;
        transform: none;
        border-radius: 20px;
        margin: 0 auto 21px;
        height: auto;
    }
}

.section3-item-image__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section3-item-params {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 46px;
    @include tablet {
        display: block;
    }
}

.section3-item-params-item {
    flex: 0 0 calc((100% / 2) - (89px / 2));
    margin-bottom: 20px;
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
        margin-bottom: 0;
    }
    @include tablet-land {
        flex: 1 0 calc((100% / 2) - (89px / 2));
    }
    @include tablet {
        margin-bottom: 24px;
        &:nth-last-of-type(2) {
            margin-bottom: 20px;
        }
    }

    &.section3-item-params-item_center {
        display: inline-flex;
        align-items: center;
        padding-top: 25px;
        padding-left: 5px;
        @include tablet {
            display: block;
            padding: 20px 0px 0px 0px;
        }
    }
}

.section3-item-params-item__title {
    font-family: $neucha;
    font-size: 28px;
    line-height: (31/28);
    margin-bottom: 12px;
    @include tablet {
        font-size: 20px;
        margin-bottom: 7px;
    }
}
.section3-item-params-item__text {
    font-size: 16px;
    line-height: (24/16);
    margin-bottom: 44px;
    &:nth-last-of-type(1) {
        margin-bottom: 0px;
        @include tablet {
            margin-bottom: 0;
        }
    }
    &:nth-last-of-type(2) {
        margin-bottom: 0;
    }
    @include tablet {
        font-size: 15px;
        padding: 0 10%;
    }

    a {
        text-decoration: underline;
        color: $green;
    }
}

.item-info__first {
    width: 78%;
    padding-bottom: 10px;
}
.item-info__sec{
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    div {
        width: 45%;
    }
    .schedule {
        padding: 33px 0px 0 0;
        width: 58%;
        .timetable {
            color: $green;
        }
    }
    @include tablet {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
        }
        padding-bottom: 47px;
    }
}
.item-info__buttons{
    display: flex;
    justify-content: space-between;
    width: 81%;
    @include tablet-land {
        width: 95%;
    }
    @include tablet {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    a,
    button {
        font-size: 18px;
        line-height: 150%;
        min-width: 240px;
        @include tablet {
            max-width: 240px;
            max-height: 100px;
        }
    }
}
