.section7 {
    overflow: hidden;
}
.section7-wrapper {
    position: relative;
    padding-bottom: 265px;
    z-index: 1;
    .icon-daub-section7 {
        position: absolute;
        top: -4.5%;
        left: 20.7%;
        font-size: 254px;
        z-index: -1;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    .icon-sun {
        position: absolute;
        top: 10%;
        right: -41.7%;
        font-size: 254px;
        z-index: -1;
        color: $yellow;
    }
    .section7-title {
        width: 76%;
        padding-bottom: 93px;
        @include tablet {
            width: 100%;
            text-align: center;
        }
    }
}

.section7-row {
    padding: 0 20px;
    display: grid;

    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (6, 1fr);

    row-gap: 50px;
    @include tablet {
        grid-template-columns: repeat (4, 1fr);
        grid-template-rows: repeat (6, 1fr);
        column-gap: 20px;
    }
    .section7-item-1 {
        grid-column-start: 1;
        grid-row-start: 1;

        .icon-cicle-fill-1 {
            position: absolute;
            top: -17%;
            left: 15%;
            font-size: 404px;
            z-index: -1;
            color: #F5F5F9;
        }
        .icon-cicle-empty-1 {
            position: absolute;
            top: -22%;
            right: -20%;
            font-size: 162px;
            z-index: -1;
            color: #36347F;
        }
        .icon-childrens {
            position: absolute;
            top: 111%;
            left: 10%;
            font-size: 141px;
            z-index: -1;
            color: #36347F;
            transform: rotate(341deg)
        }

        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    }
    .section7-item-2 {
        grid-column-start: 2;
        grid-row-start: 2;

        .icon-cicle-fill-2 {
            position: absolute;
            top: -34%;
            left: 16%;
            font-size: 378px;
            z-index: -1;
            color: #E7F8EF;
        }
        .icon-cicle-empty-2 {
            position: absolute;
            top: -19%;
            left: 79%;
            font-size: 131px;
            color: $green;
        }
        .icon-backpack {
            position: absolute;
            top: -37%;
            left: 21%;
            font-size: 107px;
            z-index: -1;
            color: $green;
        }
        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    }
    .section7-item-3 {
        grid-column-start: 1;
        grid-row-start: 3;
        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .icon-cicle-fill-3 {
            position: absolute;
            top: -21%;
            left: 10%;
            font-size: 392px;
            z-index: -1;
            color: $yellow;
            opacity: .2;
        }
        .icon-cicle-empty-3 {
            position: absolute;
            top: -10%;
            left: 81%;
            font-size: 107px;
            z-index: -1;
            color: $yellow;
        }
        .icon-rocet {
            position: absolute;
            top: 121%;
            left: 17%;
            font-size: 89px;
            z-index: -1;
            color: $yellow;
        }
    }
    .section7-item-4 {
        grid-column-start: 2;
        grid-row-start: 4;
        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .icon-cicle-fill-4 {
            position: absolute;
            top: -20%;
            left: 13%;
            font-size: 366px;
            z-index: -1;
            color: #FCE8E6;
        }
        .icon-cicle-empty-2 {
            position: absolute;
            top: -17%;
            left: 78%;
            font-size: 131px;
            z-index: -1;
            color: $red;
        }
        .icon-hat {
            position: absolute;
            top: -40%;
            left: 15%;
            font-size: 133px;
            z-index: -1;
            color: $red;
        }
    }
    .section7-item-5 {
        grid-column-start: 1;
        grid-row-start: 5;
        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .icon-cicle-fill-5 {
            position: absolute;
            top: -23%;
            left: 11%;
            font-size: 387.5px;
            z-index: -1;
            color: #E7F8EF;
        }
        .icon-cicle-empty-3 {
            position: absolute;
            top: -18%;
            left: 80%;
            font-size: 133px;
            z-index: -1;
            color: $green;
        }
        .icon-paper-boat {
            position: absolute;
            top: 108%;
            left: 0%;
            font-size: 133px;
            z-index: -1;
            color: $green;
        }
    }
    .section7-item-6 {
        grid-column-start:2;
        grid-row-start: 6;
        @include tablet {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .icon-cicle-fill-6 {
            position: absolute;
            top: -37%;
            left: 7%;
            font-size: 424px;
            z-index: -1;
            color: #F5F5F9;
        }
        .icon-cicle-empty-2 {
            position: absolute;
            top: -17%;
            left: 78%;
            font-size: 131px;
            z-index: -1;
            color: $dark-blue;
        }
        .icon-magnifier {
            position: absolute;
            top: 132%;
            left: 40%;
            font-size: 105px;
            z-index: -1;
            color: $dark-blue;
        }
    }
}
.section7-item{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;

    position: relative;
    z-index: 1;
    h2 {
        padding-bottom: 35px;
    }
    @include tablet {
        width: 100%;
        text-align: center;
        padding-bottom: 150px;
        h2 {
            width: 20%;
        }
    }
}
.section7-item__discr{
    h3 {
        padding-bottom: 12px;
    }
    @include tablet {
        h3 {
            padding-bottom: 6px;
        }
    }
}
