.section6-wrapper{
    padding-bottom: 132px;
    h2 {
        width: 60%;
    }
    .section6-row:first-of-type{
        padding-bottom: 42px;
    }
    @include tablet {
        h2 {
            width: 100%;
            text-align: center;
            padding-bottom: 55px;
        }
    }
}
.section6-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}
.section6__item{

    &:hover span {
        color: $green;
    }
}
.section6__item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
}
.section6__item-2 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 13;
}
.section6__item-3 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.section6__item-4 {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 9;
}
.section6__item-5 {
    grid-row-start: 2;
    grid-column-start: 9;
    grid-column-end: 13;
}

.section6-video{
    position: relative;
    display: block;
    height: 300px;
    background: cornflowerblue;
    border-radius: 70px;
    margin-bottom: 21px;
    @include tablet {
        height: 190px;
        border-radius: 20px;
        margin-bottom: 11px;
    }
    .section6-button {
        position: absolute;
        bottom: 30px;
        left: 30px;
        @include tablet {
            bottom: 10px;
        left: 10px;
        }
    }
}
