.section34 {
    .container {
        max-width: 820px;
    }
    .section31-row {
        justify-content: space-between;
    }
    .section31__item {
        margin-right: 0;
    }



}