.section17-wrapper {
    margin-bottom: 136px;
    @include tablet {
        margin-bottom: 106px;
    }
}
.section17-title {
    padding-bottom: 60px;
    text-align: center;
}
.section17-accordion {
    padding-bottom: 31px;
    @include tablet {
        padding-bottom: 42px;
    }
}
.section17__bottom {
    text-align: center;
    .section17__bottom-link {
        text-decoration: underline;
        &:hover {
            color: $green;
            text-decoration: none;
        }
        @include tablet {
            font-size: 15px;
        }
    }
}