.section15 {
    margin-bottom: 129px;
    .container {
        padding: 0;
    }
}
.section15-title {
    margin-right: 26%;
    line-height: 59.48px;
    margin-bottom: 53px;
    padding-left: 18px;
    padding-right: 18px;
    @include tablet {
        margin-right: 0;
        padding: 0;
        text-align: center;
    }
    @include mobile-land {
        line-height: 33.05px;
        margin-bottom: 62px;
    }
}
.section15-row {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 30px 41px; 
    padding-right: 3%;
    @include tablet {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        gap: 70px 1px;
    }
}
.section15-item__button {
    position: absolute;
    right: 5%;
    top: 23%;
    @include tablet {
        top: 74%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.section15-item {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 70px;
    background-color: $pink;
    padding: 27px 30px 27px 53px;
    @include tablet {
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
        padding: 23px 28px 62px 30px;
    }
    @include mobile-land {
        width: 100%;
    }
    &:hover {
        @include tablet {
            .section15-item__button {
                transform: none;
            }
        }
        .section15-item__button {
            @include tablet {
                transform: none;
            }
            transform: scale(1.2);
        }
    }
}
.section15-item__discr {
    padding-right: 37%;
    @include tablet {
        text-align: center;
        padding-right: 0;
        font-size: 14px;
        line-height: 21px;
    }
}