.section16 {
    margin-bottom: 77px;
    @include mobile-land {
        margin-bottom: 110px;
    }
}
.section16-title {
    margin-bottom: 50px;
    @include tablet {
        text-align: center;
    }
}
.section16-row {
    position: relative;
    @include mobile-land {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .section16-params {
        @include mobile-land {
            order: 1;
            button {
                display: none;
            }
        }
    }
    .section16-tabs {
        @include mobile-land {
            order: 2;
        }
    }
    .section__swipe-buttons {
        @include tablet {
            display: none;
        }
        @include mobile-land {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 5%;
            margin: 0;
            top: 7%;
        }
    }
}
.section16-tabs {
    position: relative;
    margin-bottom: 50px;
    @include mobile-land {
        margin-bottom: 0;
    }
    .nav-item {
        .tabs-nav__trigger {
            @include tablet {
                display: flex;
                flex-direction: column;
                font-family: $montserrat;
                font-size: 18px;
            }
            @include mobile-land {
                font-size: 16px;
            }
        }

    }
    .nav-item:first-of-type {
        .tabs-nav__trigger {
            border-bottom-left-radius: 0px;
        }
    }
    .nav-item:last-of-type {
        .tabs-nav__trigger {
            border-bottom-right-radius: 0px;
        }
    }
}
.section16-params__row {
    display: flex;
    @include tablet {
        flex-direction: column;
    }
}

.section16-tab-content {
    position: relative;
    background-color: #F5F5F9;
    padding: 32px 60px 72px 90px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    @include mobile-land {
        padding: 22px 0 53px 0;
        border-radius: 20px;
    }
    .section__swipe-buttons {
        top: 9%;
    }
}

.nav-item__mobile-discr {
    @include mobile-land {
        background-color: $light-gray;
        border-radius: 20px;
        padding: 22px 0 49px;
        margin-bottom: 10px;
    }
}
.nav-item__mobile-discr-title {
    display: none;
    @include mobile-land {
        display: block;
        text-align: center;
        opacity: .5;
        font-size: 13px;
    }
}
.section16-nav-tabs {
    display: flex;
    justify-content: space-evenly;
    border: none;
    @include mobile-land {
    }
    .nav-item {
        width: 50%;
        border: none;
        @include mobile-land {
            width: 100%;
            .nav-link {
                display: none;
                &.active {
                    display: flex;
                }
            }
        }
        &:first-of-type {
            .nav-link {
            border-top-left-radius: 70px;
            }
        }
        &:last-of-type {
            .nav-link {
                border-top-right-radius: 70px;
            }
        }
    }
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 15px;
        border: none;
        border-radius: 0;
        opacity: .5;
        border-top: 1px solid $gray;
        border-right: 1px solid $gray;
        border-left: 1px solid $gray;
        @include tablet {
            flex-direction: column;
            padding-bottom: 0;
        }
        &:hover {
            opacity: 1;
        }
        &.active {
            border: none;
            background-color: $light-gray;
            opacity: 1;
            @include mobile-land {
                border-radius: 20px !important;
            }
        }
    }
}
.section16-tab-content__mobile-discr-tab {
    display: none;
    @include mobile-land {
        display: block;
        text-align: center;
        color: $dark-gray;
        opacity: .5;
        padding-bottom: 25px;
        font-size: 13px;
        line-height: 19.5px;
    }
}
.section16-nav-tab__img {
    margin-right: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: contain;

    @include tablet {
        margin-right: 0;
    }
    @include mobile-land {
        min-width: 80px;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
}
.section16-tab__content {
    display: flex;
    @include mobile-land {
        padding-top: 22px;
    }
}
.section16-tab__content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.section16-tab__content-right {
    flex: 2;
}
.section16-params__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66.666666666666%;
    padding-left: 60px;
    @include tablet-land {
        padding-left: 0;
    }
    @include tablet {
        padding-left: 0;
        flex-direction: row;
    }
    @include mobile-land {
        flex-direction: column;
        flex: 1;
    }
    .section16-params__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 0 0 50%;
        margin-bottom: 40px;
        @include tablet {

            flex: 1;
        }
        @include mobile-land {
            margin-bottom: 0;
        }
    }
}
.section16-params__item-point {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.section16-params__item {
    flex: 0 0 33.333333%;;
    align-items: center;
    .colored-box {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-right: 19px;
    }
}
.section16-params__item-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
}
.section16-button {
    display: none;
    @include mobile-land {
        display: block;
        margin: 0 auto;
    }
}
