.section11 {
    margin-bottom: 129px;
    @include tablet {
        margin-bottom: 105px;
    }
}
.section11-tabs-content {
    display: flex;
    @include tablet {
        flex-direction: column;
    }
}
.section11-title-wrapper {
    position: relative;
    .icon-sun {
        position: absolute;
        top: -5px;
        right: -1.5%;
        color: #ffd600;
        font-size: 173px;
        @include tablet {
            display: none;
        }
    }
}
.section11-title {
    width: 85%;
    line-height: 59px;
    margin-bottom: 58px;
    @include tablet {
        width: 100%;
        text-align: center;
        margin-bottom: 64px;
        line-height: 47px;
    }
    @include mobile-land{
        font-size: 30px;
        line-height: 33px;
    }
}
.section11-tabs {
    .section__swipe-buttons {
        text-align: center;
        @include tablet {
            margin-bottom: 31px;
        }
    }
    .tabs-nav__trigge {
        font-size: 16px;
        line-height: 150%;
        @include tablet {
            display: none;
        }
    }
    .nav-item {
        @include tablet {
            display: none;
        }
    }
    .nav-pills {
        margin-bottom: 56px;
        @include tablet {
            margin-bottom: 0;
        }
    }
}
.section11-tabs-content__left {
    flex: 1;
    margin-right: 21px;
    @include tablet {
        margin-right: 0;
    }
    .section5__item {
        @include tablet {
            padding-bottom: 0;
            margin-bottom: 33px;
        }
        .section11-button {
            @include tablet {
                display: none;
            }
        }
    }
    .section5__img-wrapper {
        margin-bottom: 3px;
        @include tablet {
            padding-bottom: 70%;
            margin-bottom: 30px;
        }
    }
    .section5-img {
        width: 91%;
        @include tablet {
            width: 70%;
        }
    }
    .icon-wawes {
        top: 27%;
        @include tablet-land {
            top: 6%;
        }
        @include tablet {
            display: none;
        }
        @include mobile-land {
            left: 0%;
        }
    }
    .section5__item-info {
        margin-bottom: 43px;
        @include tablet {
            margin-bottom: 0;
        }
    }
    .item-info__name {
        letter-spacing: normal;
    }
    .section5-info__link-certificate {
        display: flex;
        align-items: center;
        padding: 0;
        background-color: transparent;
        border: none;
        i {
            color: $green;
            font-size: 21px;
            display: inline-block;
            margin-right: 8px;
        }
        span {
            color: $green;
        }
    }
}
.section11-tabs-content__right {
    flex: 2;
    .section11-button {
        display: none;
        @include tablet {
            margin: 0 auto;
            display: block;
        }
    }
    .content_toggle {
        display: none;
        @include tablet {
            display: block;
            margin-bottom: 46px;
        }
    }
}
.section11-button {
    width: 240px;
}