.section18 {
    padding-top: 29px;
    margin-bottom: 90px;
    @include tablet {
        padding-top: 4px;
        margin-bottom: 82px;
    }
    @include mobile-land {
        margin-bottom: 112px;
    }
}
.section18-row {
    position: relative;
    .icon-daub-section7 {
        position: absolute;
        top: -2.7%;
        left: 29.5%;
        font-size: 195px;
        z-index: -1;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    .icon-book {
        position: absolute;
        top: 39.7%;
        left: -34%;
        font-size: 121px;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
}
.section18-suptitle {
    margin-bottom: 15px;
    @include tablet {
        text-align: center;
    }
    @include mobile-land {
        font-size: 16px;
        line-height: 150%;
        padding: 0 20%;
    }
}
.section18-title {
    width: 75%;
    margin-bottom: 35px;
    @include tablet {
        width: 100%;
        font-size: 42px;
    }
    @include mobile-land {
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 23px;
    }
}
.section18-wrapper {
    margin: 0 auto;
}
.section18__img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: (570/1160) * 100%;
    z-index: 1;
    @include tablet {
        padding-bottom: (250/300) *100%;
        border-radius: 20px;
        overflow: hidden;
    }
}
.section18__img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
    border-radius: 70px;
    @include tablet {
        top: 20%;
        border-radius: 20px;
        transform: scale(2);
    }
}
.section18-actions {
    position: relative;
    margin-bottom: 118px;
    @include tablet {
        margin-bottom: 120px;
    }
    @include mobile-land {
        margin-bottom: 128px;
    }
}
.section18-button {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 240px;
    font-size: 18px;

}
.section18__info-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.section18__info-item {
    flex: 0 0 260px;
    border-radius: 70px;
    background-color: #f5f5f9;
    padding-bottom: 24px;
    min-height: 160px;
    height: fit-content;
    margin-bottom: 40px;
    @include tablet-land {
        flex: 0 0 24%;
    }
    @include tablet {
        flex: unset;
        min-height: unset;
        margin-bottom: 54px;
        width: 60%;
        border-radius: 50px;
    }
    @include mobile-land {
        width: 90%;
        border-radius: 20px;
        margin-bottom: 50px;
        flex: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: unset;
        padding: 14px 0 22px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}
.section18__info-item-number {
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    margin: -27px 0 24px;
    @include tablet {
        font-size: 42px;
        line-height: 47px;
    }
    @include mobile-land {
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 7px;
        margin-top: -30px;
    }
}
.section18__info-item-discr {
    text-align: center;
    @include tablet {
        font-size: 16px;
    }
    @include mobile-land {
        font-size: 15px;
        line-height: 150%;
    }
    @include mobile {
        padding: 0;
    }
}
.section18__info-item-discr_1 {
    padding: 0 10%;
    @include tablet {
        padding: 0 18%;
    }
    @include mobile-land {
        padding: 0 16%;
    }
    @include mobile {
        padding: 0;
    }
}
.section18__info-item-discr_2 {
    padding: 0 25%;
    @include mobile-land {
        padding: 0 30%;
    }
    @include mobile {
        padding: 0 25%;
    }
}
.section18__info-item-discr_3 {
    padding: 0 21%;
    @include mobile-land {
        padding: 3px 6% 0 13%;
    }
    @include mobile {
        padding: 0 5%;
    }
}
.section18__info-item-discr_4 {
    padding: 0 20%;
    @include mobile-land {
        padding: 0 15%;
    }
}