.section5 {
    margin-bottom: 128px;
    @include tablet {
        margin-bottom: 107px;
    }
    .section5-title{
        margin-bottom: 66px;
        @include tablet {
            margin-bottom: 60px;
            text-align: center;
        }
    }
    .section5-suptitle-wrapper {
        width: 523px;
        padding-bottom: 109px;
        position: relative;
        left: 45%;
        .icon-blot {
            position: absolute;
            top: -109%;
            left: -13%;
            color: #F5F5F9;
            font-size: 372px;
            z-index: -1;
        }
        @include tablet {
            display: none;
        }
    }

}
.section5-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 30px;
    row-gap: 68px;
    @include tablet {
        display: block;
    }
}

.section5__item {
    position: relative;
    @include tablet {
        text-align: center;
    }
}
.section5__item_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;

    @include tablet {
        padding-bottom: 62px;
    }
    .icon-wawes {
        position: absolute;
        top: 31%;
        left: -37%;
        color: $yellow;
        font-size: 157px;
        transform: rotate(15.22deg);
        z-index: 3;
        @include tablet {
            left: 0;
        }
        @include mobile {
            top: 50%;
            left: -23%;
            font-size: 108px;
        }
    }
}
.section5__item_2 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 9;

    @include tablet {
        padding-bottom: 66px;
    }
    .icon-roundels {
        position: absolute;
        top: 67%;
        left: 44%;
        color: $green;
        font-size: (376 / 179) * 100px - 31px;
        @include tablet-land {
            font-size: 120px;
        }
        @include tablet {
            top: 73%;
            left: 53%;
            font-size: 124px;
        }
    }
}
.section5__item_3 {
    grid-row-start: 1;
    grid-column-start: 9;
    grid-column-end: 13;

    @include tablet {
        padding-bottom: 60px;
        .item-info__discr {
            margin-bottom: -4px !important;
        }
    }
    .icon-dashed-rainbow {
        position: absolute;
        top: -4%;
        left: 56%;
        color: $red;
        font-size: 191.5px;
        @include tablet-land {
            font-size: 164px;
        }
        @include tablet {
            top: -8%;
            left: 59%;
            font-size: 119px;
        }
    }
}
.section5__item_4 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 7;
    @include tablet {
        padding-bottom: 54px;
        .item-info__discr {
            margin-bottom: -4px !important;
        }
    }
    .icon-double-empty-circles {
        position: absolute;
        top: 62%;
        left: -3%;
        font-size: 133px;
        color: $green;
        @include tablet-land {
            font-size: 109px;
        }
        @include tablet {
            top: 67%;
            left: 12%;
            font-size: 99px;
        }
    }
    .icon-item_4-fill-circle {
        position: absolute;
        top: 11%;
        left: 80%;
        color: $dark-blue;
        font-size: 53px;
        z-index: -1;
        @include tablet {
            top: 0%;
            left: 73%;
            font-size: 52px;
        }
    }
}
.section5__item_5 {
    grid-row-start: 2;
    grid-column-start: 7;
    grid-column-end: 11;
    @include tablet {
        .item-info__discr {
            margin-bottom: -4px !important;
        }
    }
    .icon-item_5-fill-circle_1 {
        position: absolute;
        top: 0;
        left: 69%;
        color: $yellow;
        font-size: 41px;
        @include tablet {
            top: -2%;
            left: 69%;
            font-size: 24px;
        }
    }
    .icon-item_5-fill-circle_2 {
        position: absolute;
        top: 16%;
        left: 84%;
        color: $yellow;
        font-size: 71px;
        z-index: 3;
        @include tablet {
            top: 10%;
            left: 79%;
            font-size: 42px;
        }
    }
}
.section5__img-wrapper {
    position: relative;
    padding-bottom: (354.6 / 360) * 100%;
    display: block;
    z-index: -1;
    margin-bottom: 27px;
    @include tablet {
        padding-bottom: (252 / 360) * 100%;
        margin-bottom: 28px;
    }
    @include mobile-land {
        padding-bottom: (325 / 360) * 100%;

    }
    @include mobile {
        padding-bottom: (351 / 360) * 100%;

    }
    .section5-img {
        position: absolute;
        top: 0;
        left: 0;
        position: absolute;
        top: 1%;
        left: 3%;
        width: 96%;
        height: auto;
        object-fit: cover;
        object-position: center;
        @include tablet {
            width: 70%;
            top: -2%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        @include mobile-land {
            width: 90%;
        }
        @include mobile {
            width: 100%;
        }
    }
}
.section5__item-info {
    min-height: 130px;
    .item-info__name {
        letter-spacing: -1px;
        margin-bottom: 12px;
        @include tablet-land {
            letter-spacing: normal;
            font-size: 26px;
        }
        @include tablet {
             font-size: 20px;
             margin-bottom: 7px;    
        }
    }
    .item-info__discr {
        margin-bottom: 25px;
        min-height: 48px;
        line-height: 150%;
        @include tablet {
            margin: 0 auto;
            width: 81%;
            font-size: 15px;
            margin-bottom: 19px;
        }
    }
    @include tablet {
        height: auto;
        margin: 0 auto;
    }
}
.section5__links-info {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section5-info__link-about {
        margin-right: 48px;
        // padding-left: 11px;
        @include tablet-land {
            margin-right: 0;
            padding-left: 0;
            padding-right: 13px;
        }
        @include tablet {
            padding-right: 0px;
            padding-bottom: 27px;
        }
        span {
            text-decoration: underline;
            color: $green;
        }
        .icon-ellipsis {
            font-size: 20px;
            color: $green;
        }
        &:hover {
            text-decoration: none;
            span {
                text-decoration: none;
            }
        }
    }
    .section5-info__link-certificate {
        .icon-certificate {
            font-size: 20px;
            margin-right: 5px;
        }
        span {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: none;
            span {
                text-decoration: none;
            }
        }
    }
    
}