.section27 {
    margin-bottom: 277px;
    @include tablet {
        padding: 110px 0 120px 0;
        margin-bottom: 118px;
        background-color: $sea-color;
    }
    @include mobile-land {
        margin-bottom: 85px;
    }
}
.section27-wrapper {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-1.58deg);
        z-index: -1;
        border-radius: 70px;
        width: 124%;
        height: 115%;
        min-height: 843px;
        background-color: $sea-color;
        @include tablet {
            display: none;
        }
    }
    .icon-book {
        position: absolute;
        top: 45%;
        left: -15%;
        font-size: 100px;
        color: $dark-blue;
        @include tablet {
            display: none;
        }
    }
    .icon-wawes {
        position: absolute;
        top: -37%;
        right: -14%;
        font-size: 142px;
        color: $dark-blue;
        @include mobile-land {
            display: none;
        }
    }
}
.section27-title {
    line-height: 59px;
    margin-bottom: 6px;
    @include tablet {
        text-align: center;
    }
    @include tablet {
        line-height: 33px;
    }
}
.section27-suptitle {
    width: 35%;
    margin-bottom: 64px;
    line-height: 24px;
    @include tablet {
        text-align: center;
        width: 80%;
        margin: 0 auto 64px;
    }
    @include mobile-land {
        width: 100%;
    }
}
.section27-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    column-gap: 39px;
    row-gap: 40px;
    @include tablet {
        display: flex;
        flex-direction: column;
        margin-bottom: 47px;
    }
}
.section27__item {
    position: relative;
    display: block;
    @include tablet {
        margin-bottom: 27px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        .section27__item-discr {
            color: $green;
        }
    }
    .section27__item-discr {
        font-family: $neucha;
        font-size: 20px;
        line-height: 30px;
        @include tablet {
            line-height: 22px;
        }
    }
}
.section27__item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    &:hover {
        ~ .section27__item-img-wrapper {
            .hiden-hovered-block {
                display: block;
            }
            img {
                transform: scale(1.2);
                @include tablet {
                    transform: none;
                }
            }
        }
    }
}
.section27__item-img-wrapper {
    padding-bottom: (300 / 360) * 100%;
    display: block;
    position: relative;
    background: $green;
    border-radius: 70px;
    margin-bottom: 24px;
    overflow: hidden;
    @include tablet {
        border-radius: 20px;
        padding-bottom: (190/300)*100%;
        margin-bottom: 13px;
    }
    .hiden-hovered-block {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: $green;
        font-family: $neucha;
        color: white;
        font-size: 18px;
        line-height: 150%;
        padding: 7px 14px;
        border-radius: 100px;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $dark-blue;
        opacity: .2;
        z-index: 2;
        pointer-events: none;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .5s;
    }
}
.section27__item-count {
    display: flex;
    justify-content: space-between;
    div{
        color: $dark-gray;
        opacity: .3;
    }
}
.section27__item-show-counter {
    display: flex;
    .icon-eye {
        padding-right: 7px;
        font-size: 20px;
    }
}
