.section14 {
    margin-bottom: 131px;
    @include tablet {
        margin-bottom: 103px;
    }
}
.section14-title {
    margin-bottom: 63px;
    line-height: 59.48px;
    @include tablet {
        line-height: 33.05px;
        text-align: center;
    }
}
.section14-tabs {
    margin-bottom: 140px;
    @include tablet {
        margin-bottom: 242px;
    }
}
.section14-info {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-left: 21%;
    @include tablet {
        width: 100%;
        margin-left: 0;
    }
    .icon-childrens {
        position: absolute;
        top: -45%;
        left: -27%;
        transform: rotate(11deg);
        font-size: 125px;
        color: $dark-blue;
        z-index: -1;
        @include tablet {
            top: -145%;
            left: 0;
        }
        @include mobile-land {
            top: -100%;
            left: 4%;
        }
    }
    .icon-cicle-fill-1 {
        position: absolute;
        top: -54%;
        left: -16%;
        font-size: 170px;
        z-index: -2;
        color: $light-gray;
        @include tablet {
            top: -172%;
            left: 12%;
        }
        @include mobile-land {
            top: -100%;
            left: 16%;
        }
    }
}