.section2-row {
    padding-bottom: 137px;
    h2 {
        padding-bottom: 56px;
    }
}
.section2__swiper {
    position: relative;
    .section2__felt-tip1 {
        position: absolute;
        top: 22%;
        left: -5%;
        z-index: 10;
    }
    .section2__felt-tip2 {
        position: absolute;
        bottom: 0;
        right: 6%;
        z-index: 10;
    }
    .section2__felt-tip3 {
        position: absolute;
        top: 6%;
        right: -12%;
    }
}



@media screen and (max-width: 320px) {

    .section2-row {
        text-align: center;
        align-items: center;
        h2 {
            padding-bottom: 61px;
        }
    }
    .nav-pills {
        display: none;
    }
    .section2__felt-tip1 {
        width: 8%;
    }
    .section2__felt-tip3 {
        width: 16%;
    }
    .section2__swiper {
        .section2__felt-tip2 {
            display: none;
        }
    }
}