.section12 {
    margin-bottom: 60px;
    @include tablet {
        margin-bottom: 100px;
    }
}
.section12-title {
    margin-bottom: 93px;
    @include tablet {
        text-align: center;
        margin-bottom: 60px;
    }
}
.section12-content {
    display: flex;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: column;
    }
}
.section12-content__item {
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 87px;
    @include tablet {
        flex-direction: column;
    }

    &:nth-of-type(2n - 1) {
        .section12-content__number {
            [class*="icon-"] {
                color: #36347f;
            }
        }
    }

    &:nth-of-type(2n) {
        .section12-content__number {
            [class*="icon-"] {
                color: #E51C00;
            }
        }
    }
}

.section12-content__number {
    position: relative;
    font-size: 64px;
    line-height: 70px;
    flex: .3;
    text-align: center;
    font-family: $neucha;
    margin-right: 10%;
    @include tablet {
        font-size: 54px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    @include mobile-land {
        font-size: 30px;
        margin-right: 0;
        margin-bottom: 16px;
        span {
            font-size: 48px;
            @include mobile-land {
                font-size: 30px;
            }
        }
    }
    .icon-cicle-empty-2 {
        position: absolute;
        font-size: 130px;
        @include tablet {
            font-size: 118px;
        }
        @include mobile-land {
            font-size: 65px;
        }
    }
}
.section12-content__number_1 {
    .icon-cicle-empty-2 {
        position: absolute;
        top: -52%;
        left: 0;
        color: $dark-blue;
        @include tablet-land {
            top: -40%;
            left: -12%;
        }
        @include tablet {
            top: -42%;
            left: 42%;
        }
        @include mobile-land {
            top: 0;
            // left: 40%;
        }
        @include mobile {
            left: 40%;
        }
    }
}
.section12-content__number_2 {
    .icon-cicle-empty-2 {
        position: absolute;
        top: -48%;
        left: 0;
        color: $red;
        @include tablet-land {
            top: -40%;
            left: -12%;
        }
        @include tablet {
            top: -42%;
            left: 42%;
        }
        @include mobile-land {
            top: 0;
            // left: 40%;
        }
        @include mobile {
            left: 40%;
        }
    }
}
.section12-content__text {
    flex: 1;
    padding-right: 5%;
    @include tablet {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        padding: 0 15% 0 15%;
    }
    @include mobile-land {
        padding: 0;
    }
}