.section1__wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
	@include tablet {
		margin-bottom: 128px;
	}
}

.section1__title { 
    padding-bottom: 27px;
	@include tablet-land {
		width: 70%;
	}
	@include tablet {
		font-family: $neucha;
		width: 100%;
		text-align: center;
		font-size: 30px;
		padding-bottom: 40.27px;
		line-height: 32.05px;
	}
}

.section1-row {
    display: flex;
    justify-content: space-between;

	.check-ic-text {
		width: 41%;
		&:first-of-type {
			margin-right: 56px;
		}
		@include tablet {
			line-height: 22,5px;
			font-size: 15px;
			&:first-of-type {
				margin-left: 0px;
				padding-bottom: 17px;
			}
			&:last-of-type {
				padding-bottom: 0px;
			}
		}
	}
	.check-ic-text__content {
		line-height: 150%;
		@include tablet {
			span {
				line-height: 150%;
			}

		}
	}
	.check-ic-text__icon {
		&:first-of-type {
			padding-bottom: 23px;
		}
		// &:last-of-type {

		// }
		.path1 {
			font-size: 49px;
		}
		.path2 {
			font-size: 35px;
		}
	}
	@include tablet {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.section1-left {
	justify-content: flex-start;
	width: 64%;
	@include tablet {
		width: 100%;
		text-align: center;
		order: 3;
	}
}

.section1__text-area {
	display: flex;
	padding-bottom: 61px;
	@include tablet {
		flex-direction: column;
		width: 100%;
		padding-bottom: 48px;
		.check-ic-text {
			width: 100%;
		}
	}
}


.section1-right {
    width: 42%;
	@include tablet {
		order: 2;
		padding-bottom: 26px;
		width: 100%;
	}
    .img-block { 
		top: -22.5%;
    	left: 4.4%;
		position: relative;
		@include tablet {
			left: 0;
		}
    }
	.section1-img {
		// position: relative;
		z-index: -1;
		width: 100%;
		height: auto;
	}
	.icon-section1-paint {
		position: absolute;
		top: -11%;
		right: 68%;
		z-index: -2;
		font-size: 124px;
		color: $dark-blue;
		@include mobile-land {
			top: -7%;
			right: 66%;
			z-index: -2;
			font-size: 79px;
		}
	}
	.icon-section1-globus {
		position: absolute;
		bottom: -4%;
		right: 18%;
		font-size: 104px;
		color: $red;
		@include mobile-land {
			bottom: -3%;
			right: 11%;
			font-size: 76px;
		}
	}
	.icon-section1-circleMiddle {
		position: absolute;
		top: 3%;
    	right: -16%;
		color:#0bbc631a;
		font-size: 95px;
		@include mobile-land {
			top: -15%;
			right: 9%;
			color: #0bbc631a;
			font-size: 57px;
		}
	}
	.icon-section1-circleBig {
		position: absolute;
		bottom: -15%;
		left: -17%;
		font-size: 136px;
		color: $dark-blue;
		opacity: .05;
		@include mobile-land {
			bottom: -13%;
			left: 0%;
			font-size: 81px;
		}
	}
	.icon-section1-circleSmall {
		position: absolute;
		bottom: 22%;
    	left: -18%;
    	font-size: 60px;
		color: $dark-blue;
		opacity: .05;
		@include mobile-land {
			position: absolute;
			left: -3%;
		}
	}

}
.section1-bottom{
    margin-left: -1%;
	a {
		text-decoration: none;
	}
	@include tablet {
		padding-bottom: 0;
		margin: 0 auto;
	}
	.icon-triangle-play {
		padding-left: 39px;
		@include tablet {
			padding-left: 35px;
		}
		&::before {
			padding: 20px;
			border-radius: 100%;
			background-color: $green-light;
		}
	}
}
