.section26{
    margin-bottom: 244px;
    @include tablet{
        margin-bottom: 90px;
    }
    .container {
        max-width: 1160px;
        padding: 0;
    }
}
.section26-title {
    width: 70%;
    margin-bottom: 12px;
    line-height: 59px;
    @include tablet-land {
        width: 60%;
        margin: 0 auto 12px;
    }
    @include tablet {
        width: 100%;
        width: 100%;
        text-align: center;
        line-height: 150%;
        margin-bottom: 13px;
    }
    @include mobile {
        line-height: 33px;
    }
}
.section26-suptitle {
    width: 65%;
    margin-bottom: 69px;
    @include tablet-land {
        width: 60%;
        margin: 0 auto 69px;
    }
    @include tablet {
        width: 100%;
        text-align: center;
    }
    @include mobile-land {
        margin-bottom: 63px;
        font-size: 15px;
        line-height: 150%;
    }
}
.section26-wrapper{
    position: relative;
    .icon-glasses {
        position: absolute;
        font-size: 84px;
        top: 3%;
        left: 77%;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    .icon-palette {
        position: absolute;
        font-size: 93px;
        top: 25%;
        left: -21%;
        color: $green;
        @include tablet {
            display: none;
        }
    }
    .icon-icon-cicle-fill-sec5 {
        position: absolute;
        font-size: 369px;
        top: 1%;
        left: -22%;
        color: $light-gray;
        z-index: -1;
    }
}
.section26-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablet-land {
        justify-content: center;
    }
    @include tablet {
        display: block;
    }
}
.section26__item {
    flex: 0 0 560px;
    margin-bottom: 47px;
    &:last-of-type {
        @include tablet {
            margin-bottom: 0;
        }
    }
    @include tablet {
        flex: none;
        margin-bottom: 24px;
    }
    .section26-video {
        padding-bottom: (300 / 560) * 100%;
    }
    .section26__item-discr {
        line-height: 150%;
        font-size: 16px;
        @include mobile-land {
            font-size: 15px;
            line-height: 160%;
        }
    }
    &:hover {
        .section26-button {
            width: 100px;
            height: 100px;
            @include tablet {
                width: 80px;
                height: 80px;
            }
        }
        .section26__item-discr {
                color: $green;
        }
        
    }
}
.section26-video{
    display: block;
    position: relative;
    overflow: hidden;
    background: cornflowerblue;
    border-radius: 70px;
    margin-bottom: 21px;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $dark-blue;
        opacity: .2;
        z-index: 2;
        pointer-events: none;
    }
    @include tablet {
        height: 190px;
        border-radius: 20px;
        margin-bottom: 11px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .section26-button {
        position: absolute;
        bottom: 30px;
        left: 30px;
        @include mobile-land {
            bottom: 10px;
            left: 10px;
        }
    }
}
