.section9 {
    margin-bottom: 137px;
    @include tablet {
        margin-bottom: 118px;
    }
}
.section9-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
    @include tablet {
        justify-content: center;
        margin-bottom: 61px;
    }
    .section9-button {
        width: 126px;
        height: 41px;
        &:active {
           background-color: $green-dark;
        }
        @include tablet {
            display: none;
        }
    }
}
.section9-row {
    display: flex;
    justify-content: space-between;
    @include tablet {
        flex-direction: column;
        margin-bottom: 47px;
    }
}
.section9__item-link {
    &:hover {
        text-decoration: none;
    }
}
.section9__item {
    position: relative;
    display: block;
    flex: 0 0 360px;
    @include tablet-land {
        flex: 0 0 300px;
    }
    @include tablet {
        flex: none;
        margin-bottom: 27px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        .section9__item-discr {
            color: $green;
        }
    }
    .section9__item-link {
        font-family: $neucha;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 9px;
        @include tablet {
            line-height: 22px;
        }
        &::hover {
            color: $green;
        }
    }
}
.section9__item-img-wrapper {
    padding-bottom: (300 / 360) * 100%;
    display: block;
    position: relative;
    background: $green;
    border-radius: 70px;
    margin-bottom: 24px;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $dark-blue;
        opacity: .2;
        z-index: 2;
        pointer-events: none;
    }
    @include tablet {
        border-radius: 20px;
        padding-bottom: (190/300)*100%;
        margin-bottom: 13px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .5s;
        &:hover {
            transform: scale(1.2);
            @include tablet {
                transform: none;
            }
        }
    }
}
.section9__item-count {
    display: flex;
    justify-content: space-between;
    @include tablet {

    }
    div{
        color: $dark-gray;
        opacity: .3;
    }
}
.section9__item-show-counter {
    display: flex;
    .icon-eye {
        padding-right: 7px;
        font-size: 20px;
    }
}
.section9__mobile {
    display: none;
    @include tablet {
        display: block;
        text-align: center;
    }
    .section9__mobile-button {
        padding: 10px 10px;
        width: 126px;
        height: 41px;
    }
}