.section22{
    .container {
        max-width: 1160px;
        padding: 0;
    }
    margin-bottom: 96px;
    @include tablet {
        margin-bottom: 104px;
    }
    @include mobile-land {
        margin-bottom: 69px;
    }
}
.section22-wrapper{
    position: relative;
    .section22-title {
        margin-bottom: 59px;
        line-height: 59px;
        @include tablet {
            width: 100%;
            width: 100%;
            text-align: center;
            line-height: 150%;
            margin-bottom: 63px;
        }
        @include mobile {
            line-height: 33px;
            margin-bottom: 41px;
        }
    }
    .icon-glasses {
        position: absolute;
        font-size: 84px;
        top: 3%;
        left: 77%;
        color: $yellow;
        @include tablet {
            display: none;
        }
    }
    .icon-palette {
        position: absolute;
        font-size: 93px;
        top: 25%;
        left: -21%;
        color: $green;
        @include tablet {
            display: none;
        }
    }
    .icon-icon-cicle-fill-sec5 {
        position: absolute;
        font-size: 369px;
        top: 1%;
        left: -22%;
        color: $light-gray;
        z-index: -1;
    }
}
.section22-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include desktop-hd {
        justify-content: space-around;
    }
    @include tablet {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.section22__item {
    flex: 0 0 360px;
    margin-bottom: 44px;
    @include tablet {
        flex: none;
        margin-bottom: 30px;
    }
    .section22__item-discr {
        line-height: 150%;
        font-size: 16px;
    }
    &:hover {
        .section22-button {
            width: 100px;
            height: 100px;
            @include tablet {
                width: 80px;
                height: 80px;
            }
        }
        .section22__item-discr {
            span {
                color: $green;
            }
        }
        
    }
}

.section22-video{
    display: block;
    position: relative;
    overflow: hidden;
    background: cornflowerblue;
    border-radius: 70px;
    margin-bottom: 21px;
    padding-bottom: (300 / 360) * 100%;
    @include tablet {
        border-radius: 20px;
        margin-bottom: 11px;
    }
    @include mobile-land {
        padding-bottom: (190 / 300) * 100%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .section22-button {
        position: absolute;
        bottom: 30px;
        left: 30px;
        @include mobile-land {
            bottom: 10px;
            left: 10px;
        }
    }
}
