.section9-wrapper {
    padding-bottom: 145px;
    @include tablet {
        padding-bottom: 118px;
    }
}
.section9-header {
    display: flex;
    justify-content: space-between;

    padding-bottom: 54px;
    @include tablet {
        justify-content: center;
        button {
            display: none;
        }
    }
}
.section9-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    column-gap: 39px;
    @include tablet {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}
.section9__item {
    &:hover {
        cursor: pointer;
        .section9__item-discr {
            color: $green;
        }
    }
    .section9__item-discr {
        font-family: $neucha;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 9px;
        @include tablet {
            line-height: 22px;
        }
    }
}
.section9__item-img-wrapper {
    padding-bottom: (300 / 360) * 100%;
    display: block;
    position: relative;
    background: $green;
    border-radius: 70px;
    margin-bottom: 24px;
    overflow: hidden;
    @include tablet {
        border-radius: 20px;
        padding-bottom: (190/300)*100%;
        margin-bottom: 13px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .5s;
        &:hover {
            transform: scale(1.2);
            @include tablet {
                transform: none;
            }
        }
    }
}
.section9__item-count {
    display: flex;
    justify-content: space-between;
    @include tablet {

    }
    div{
        color: $dark-gray;
        opacity: .3;
    }
}
.section9__mobile {
    display: none;
    @include tablet {
        display: block;
        text-align: center;
        .section9__mobile-button {
            padding: 10px 30px;
        }
    }
}