.section3-items h2{
    padding-bottom: 107px;
}

.section3-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 174px;
}
.content-block{
    width: 55%;
}
// COMMON STYLES OF DESCTOP BACKGROUND
.section3-block_1, .section3-block_2, .section3-block_3 {
    &::before {
            content: '';
            display: block;
            width: 108%;
            height: 93%;
            background: #FFF8D2;
            opacity: .6;
            border-radius: 70px;
        
            position: absolute;
            z-index: -1;
            top: -11%;
            left: -5%;
        }
}    

.section3-block_1::before{
    background: #FFF8D2;
    transform: rotate(-1.7deg);
}
.section3-block_2::before{
    background: #E7F8EF;
    transform: rotate(1.23deg);
}
.section3-block_3::before{
    background: #F5F5F9;
    transform: rotate(-1.19deg);
}
// common styles of section3__img-block
.section3__img-block1, .section3__img-block2, .section3__img-block3 {
    width: 460px;
    height: 556px;
    border-radius: 70px;
}
.section3__img-block1{
    background: rgb(207, 66, 66);
    transform: rotate(3.09deg);
}
.section3__img-block2{
    background: rgb(66, 207, 113);
    transform: rotate(-1.43deg);
}
.section3__img-block3{
    background: rgb(69, 46, 199);
    transform: rotate(2.23deg);
}

.content-block1, .content-block2, .content-block3 {
    h5{
        padding-bottom: 27px;
    }
    h3{
        padding-bottom: 12px;
    }
    p{
        padding-bottom: 44px;
    }
    padding-left: 25px;
}

.block-info__first{
    display: flex;
    div{
        width: 45%;
    }
}
.block-info__sec{
    display: flex;
    div{
        width: 45%;
    }
}
.block-info__buttons{
    display: flex;
    justify-content: space-between;
    width: 76%;
}
