.section4-wrapper {
    h2 {
        padding-bottom: 54px;
    }
    @include tablet {
        text-align: center;
        h2 {
            padding-bottom: 61px;
        }
    }
}
.section4-items {
    padding-bottom: 135px;
    display: grid;
    
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 20px;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.section4-item {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 48px 60px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    a {
        color: transparent;
    }
    &:hover {
        span {
            color: white;
        }
        background: $green;
        a {
            color: white;
            text-decoration: underline;
        }
    }
    @include tablet {
        padding: 49px 44px 47px 44px;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.section4-item_1 {
    background-color: #FCE8E6;
    @include tablet {
        padding: 37px 44px;
    }
}
.section4-item_2 {
    background-color: #E6F3FC;
}
.section4-item_3 {
    background-color: #F5F5F9;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    padding: 128px 0;
    @include tablet {
        padding: 49px 44px 47px 44px;
    }
}

.section4-item_4 {
    background-color: #FFF8D2;
}

.section4-item_5 {
    background-color: #E7F8EF;
}
