$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-section2__button-prev: "\1f59c";
$icon-section2__button-next: "\1f59d";
$icon-triangle-play: "\e901";
$icon-triangle-down: "\e902";

