// USER VARIABLES SECTION

$gray: #EBEBF2;
$dark-gray: #313131;
$light-gray: #F5F5F9;
$dark-blue: #36347f;
$lignt-blue: #E6F3FC;
$green: #0BBC63;
$green-light: #12C96D;
$green-dark: #0ca559;
$sea-color: #E7F8EF;
$red: #E51C00;
$pink: #FFF8D2;
$yellow: #FFD600;


$montserrat: 'Montserrat', sans-serif;
$neucha: 'Neucha', sans-serif;

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: roboto-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;