@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?84w11f') format('truetype'),
    url('fonts/icomoon.woff?84w11f') format('woff'),
    url('fonts/icomoon.svg?84w11f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before {
  content: "\e944";
}
.icon-facebook:before {
  content: "\e93e";
}
.icon-ok:before {
  content: "\e93f";
}
.icon-pinterest:before {
  content: "\e940";
}
.icon-telegram:before {
  content: "\e941";
}
.icon-twitter:before {
  content: "\e942";
}
.icon-viber:before {
  content: "\e943";
}
.icon-close:before {
  content: "\e93d";
}
.icon-book:before {
  content: "\e93c";
}
.icon-section13-daub:before {
  content: "\e93b";
}
.icon-check:before {
  content: "\e93a";
}
.icon-eye:before {
  content: "\e939";
}
.icon-section1-circleBig:before {
  content: "\e934";
}
.icon-section1-circleMiddle:before {
  content: "\e935";
}
.icon-section1-circleSmall:before {
  content: "\e936";
}
.icon-section1-globus:before {
  content: "\e937";
}
.icon-section1-paint:before {
  content: "\e938";
}
.icon-slider-daub-1:before {
  content: "\e907";
}
.icon-slider-daub-2:before {
  content: "\e908";
}
.icon-triple-xxx:before {
  content: "\e909";
}
.icon-roundels:before {
  content: "\e92f";
}
.icon-dashed-rainbow:before {
  content: "\e930";
}
.icon-double-empty-circles:before {
  content: "\e931";
}
.icon-item_4-fill-circle:before {
  content: "\e932";
}
.icon-item_5-fill-circle:before {
  content: "\e933";
}
.icon-daub-questions:before {
  content: "\e929";
}
.icon-letters-questions:before {
  content: "\e92a";
}
.icon-mobile-phone:before {
  content: "\e92b";
}
.icon-notebook-questions:before {
  content: "\e92c";
}
.icon-tune-questions:before {
  content: "\e92d";
}
.icon-ruler:before {
  content: "\e92e";
}
.icon-icon-cicle-fill-sec5:before {
  content: "\e926";
}
.icon-palette:before {
  content: "\e927";
}
.icon-glasses:before {
  content: "\e928";
}
.icon-daub-section7:before {
  content: "\e924";
}
.icon-backpack:before {
  content: "\e925";
}
.icon-cicle-empty-1:before {
  content: "\e917";
}
.icon-cicle-empty-2:before {
  content: "\e918";
}
.icon-cicle-empty-3:before {
  content: "\e919";
}
.icon-cicle-fill-1:before {
  content: "\e91a";
}
.icon-cicle-fill-2:before {
  content: "\e91b";
}
.icon-cicle-fill-3:before {
  content: "\e91c";
}
.icon-cicle-fill-4:before {
  content: "\e91d";
}
.icon-cicle-fill-5:before {
  content: "\e91e";
}
.icon-cicle-fill-6:before {
  content: "\e91f";
}
.icon-hat:before {
  content: "\e920";
}
.icon-magnifier:before {
  content: "\e921";
}
.icon-paper-boat:before {
  content: "\e922";
}
.icon-rocet:before {
  content: "\e923";
}
.icon-childrens:before {
  content: "\e911";
}
.icon-daub:before {
  content: "\e912";
}
.icon-scattered:before {
  content: "\e913";
}
.icon-little-star:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-vk:before {
  content: "\e916";
}
.icon-certificate:before {
  content: "\e90f";
}
.icon-ellipsis:before {
  content: "\e910";
}
.icon-blot:before {
  content: "\e90e";
}
.icon-wawes:before {
  content: "\e90a";
}
.icon-dashed:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-sun:before {
  content: "\e90d";
}
.icon-checkMark1 .path1:before {
  content: "\e903";
  color: rgb(255, 214, 0);
}
.icon-checkMark1 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(11, 188, 99);
}
.icon-checkMark2 .path1:before {
  content: "\e905";
  color: rgb(255, 214, 0);
}
.icon-checkMark2 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(11, 188, 99);
}
.icon-zoom:before {
  content: "\e900";
}
.icon-arrow-left-bordered:before {
  content: "\1f59c";
}
.icon-arrow-right-bordered:before {
  content: "\1f59d";
}
.icon-triangle-play:before {
  content: "\e901";
}
.icon-triangle-down:before {
  content: "\e902";
}
