@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?84w11f') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?84w11f') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?84w11f##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments {
  &:before {
    content: $icon-comments; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-ok {
  &:before {
    content: $icon-ok; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-section13-daub {
  &:before {
    content: $icon-section13-daub; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-section1-circleBig {
  &:before {
    content: $icon-section1-circleBig; 
  }
}
.icon-section1-circleMiddle {
  &:before {
    content: $icon-section1-circleMiddle; 
  }
}
.icon-section1-circleSmall {
  &:before {
    content: $icon-section1-circleSmall; 
  }
}
.icon-section1-globus {
  &:before {
    content: $icon-section1-globus; 
  }
}
.icon-section1-paint {
  &:before {
    content: $icon-section1-paint; 
  }
}
.icon-slider-daub-1 {
  &:before {
    content: $icon-slider-daub-1; 
  }
}
.icon-slider-daub-2 {
  &:before {
    content: $icon-slider-daub-2; 
  }
}
.icon-triple-xxx {
  &:before {
    content: $icon-triple-xxx; 
  }
}
.icon-roundels {
  &:before {
    content: $icon-roundels; 
  }
}
.icon-dashed-rainbow {
  &:before {
    content: $icon-dashed-rainbow; 
  }
}
.icon-double-empty-circles {
  &:before {
    content: $icon-double-empty-circles; 
  }
}
.icon-item_4-fill-circle {
  &:before {
    content: $icon-item_4-fill-circle; 
  }
}
.icon-item_5-fill-circle {
  &:before {
    content: $icon-item_5-fill-circle; 
  }
}
.icon-daub-questions {
  &:before {
    content: $icon-daub-questions; 
  }
}
.icon-letters-questions {
  &:before {
    content: $icon-letters-questions; 
  }
}
.icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone; 
  }
}
.icon-notebook-questions {
  &:before {
    content: $icon-notebook-questions; 
  }
}
.icon-tune-questions {
  &:before {
    content: $icon-tune-questions; 
  }
}
.icon-ruler {
  &:before {
    content: $icon-ruler; 
  }
}
.icon-icon-cicle-fill-sec5 {
  &:before {
    content: $icon-icon-cicle-fill-sec5; 
  }
}
.icon-palette {
  &:before {
    content: $icon-palette; 
  }
}
.icon-glasses {
  &:before {
    content: $icon-glasses; 
  }
}
.icon-daub-section7 {
  &:before {
    content: $icon-daub-section7; 
  }
}
.icon-backpack {
  &:before {
    content: $icon-backpack; 
  }
}
.icon-cicle-empty-1 {
  &:before {
    content: $icon-cicle-empty-1; 
  }
}
.icon-cicle-empty-2 {
  &:before {
    content: $icon-cicle-empty-2; 
  }
}
.icon-cicle-empty-3 {
  &:before {
    content: $icon-cicle-empty-3; 
  }
}
.icon-cicle-fill-1 {
  &:before {
    content: $icon-cicle-fill-1; 
  }
}
.icon-cicle-fill-2 {
  &:before {
    content: $icon-cicle-fill-2; 
  }
}
.icon-cicle-fill-3 {
  &:before {
    content: $icon-cicle-fill-3; 
  }
}
.icon-cicle-fill-4 {
  &:before {
    content: $icon-cicle-fill-4; 
  }
}
.icon-cicle-fill-5 {
  &:before {
    content: $icon-cicle-fill-5; 
  }
}
.icon-cicle-fill-6 {
  &:before {
    content: $icon-cicle-fill-6; 
  }
}
.icon-hat {
  &:before {
    content: $icon-hat; 
  }
}
.icon-magnifier {
  &:before {
    content: $icon-magnifier; 
  }
}
.icon-paper-boat {
  &:before {
    content: $icon-paper-boat; 
  }
}
.icon-rocet {
  &:before {
    content: $icon-rocet; 
  }
}
.icon-childrens {
  &:before {
    content: $icon-childrens; 
  }
}
.icon-daub {
  &:before {
    content: $icon-daub; 
  }
}
.icon-scattered {
  &:before {
    content: $icon-scattered; 
  }
}
.icon-little-star {
  &:before {
    content: $icon-little-star; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-certificate {
  &:before {
    content: $icon-certificate; 
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis; 
  }
}
.icon-blot {
  &:before {
    content: $icon-blot; 
  }
}
.icon-wawes {
  &:before {
    content: $icon-wawes; 
  }
}
.icon-dashed {
  &:before {
    content: $icon-dashed; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-checkMark1 .path1 {
  &:before {
    content: $icon-checkMark1-path1;  
    color: rgb(255, 214, 0);
  }
}
.icon-checkMark1 .path2 {
  &:before {
    content: $icon-checkMark1-path2;  
    margin-left: -1em;  
    color: rgb(11, 188, 99);
  }
}
.icon-checkMark2 .path1 {
  &:before {
    content: $icon-checkMark2-path1;  
    color: rgb(255, 214, 0);
  }
}
.icon-checkMark2 .path2 {
  &:before {
    content: $icon-checkMark2-path2;  
    margin-left: -1em;  
    color: rgb(11, 188, 99);
  }
}
.icon-zoom {
  &:before {
    content: $icon-zoom; 
  }
}
.icon-arrow-left-bordered {
  &:before {
    content: $icon-arrow-left-bordered; 
  }
}
.icon-arrow-right-bordered {
  &:before {
    content: $icon-arrow-right-bordered; 
  }
}
.icon-triangle-play {
  &:before {
    content: $icon-triangle-play; 
  }
}
.icon-triangle-down {
  &:before {
    content: $icon-triangle-down; 
  }
}

