$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-comments: "\e944";
$icon-facebook: "\e93e";
$icon-ok: "\e93f";
$icon-pinterest: "\e940";
$icon-telegram: "\e941";
$icon-twitter: "\e942";
$icon-viber: "\e943";
$icon-close: "\e93d";
$icon-book: "\e93c";
$icon-section13-daub: "\e93b";
$icon-check: "\e93a";
$icon-eye: "\e939";
$icon-section1-circleBig: "\e934";
$icon-section1-circleMiddle: "\e935";
$icon-section1-circleSmall: "\e936";
$icon-section1-globus: "\e937";
$icon-section1-paint: "\e938";
$icon-slider-daub-1: "\e907";
$icon-slider-daub-2: "\e908";
$icon-triple-xxx: "\e909";
$icon-roundels: "\e92f";
$icon-dashed-rainbow: "\e930";
$icon-double-empty-circles: "\e931";
$icon-item_4-fill-circle: "\e932";
$icon-item_5-fill-circle: "\e933";
$icon-daub-questions: "\e929";
$icon-letters-questions: "\e92a";
$icon-mobile-phone: "\e92b";
$icon-notebook-questions: "\e92c";
$icon-tune-questions: "\e92d";
$icon-ruler: "\e92e";
$icon-icon-cicle-fill-sec5: "\e926";
$icon-palette: "\e927";
$icon-glasses: "\e928";
$icon-daub-section7: "\e924";
$icon-backpack: "\e925";
$icon-cicle-empty-1: "\e917";
$icon-cicle-empty-2: "\e918";
$icon-cicle-empty-3: "\e919";
$icon-cicle-fill-1: "\e91a";
$icon-cicle-fill-2: "\e91b";
$icon-cicle-fill-3: "\e91c";
$icon-cicle-fill-4: "\e91d";
$icon-cicle-fill-5: "\e91e";
$icon-cicle-fill-6: "\e91f";
$icon-hat: "\e920";
$icon-magnifier: "\e921";
$icon-paper-boat: "\e922";
$icon-rocet: "\e923";
$icon-childrens: "\e911";
$icon-daub: "\e912";
$icon-scattered: "\e913";
$icon-little-star: "\e914";
$icon-instagram: "\e915";
$icon-vk: "\e916";
$icon-certificate: "\e90f";
$icon-ellipsis: "\e910";
$icon-blot: "\e90e";
$icon-wawes: "\e90a";
$icon-dashed: "\e90b";
$icon-calendar: "\e90c";
$icon-sun: "\e90d";
$icon-checkMark1-path1: "\e903";
$icon-checkMark1-path2: "\e904";
$icon-checkMark2-path1: "\e905";
$icon-checkMark2-path2: "\e906";
$icon-zoom: "\e900";
$icon-arrow-left-bordered: "\1f59c";
$icon-arrow-right-bordered: "\1f59d";
$icon-triangle-play: "\e901";
$icon-triangle-down: "\e902";

