$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-zoom: "\e900";
$icon-arrow-left-bordered: "\1f59c";
$icon-arrow-right-bordered: "\1f59d";
$icon-triangle-play: "\e901";
$icon-triangle-down: "\e902";

